<nav class="navbar navbar-expand-md navbar-light  ">
    
  <a class="navbar-brand " href="/home">
    <img src="assets/img/go_shop.png" class="img-fluid" width="100" height="40" class="d-inline-block align-top" alt="GoSHOP"> 
  </a>        

<!-- FOR TOGGLE BUTTON -->
<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="container-fluid">
<!-- <div class="row m-0 p-0"> -->
    
  <div class="col-lg-8 ">
      <form class="form-inline text-center">
          <div class="input-group collapse navbar-collapse " id="navbarSupportedContent">
            <a routerLink="/products">
            <button class="btn btn-outline-dark" type="button" id="button-addon2"><i class="fa fa-search"></i></button>  
          </a>
            <!-- <input type="text" class="form-control search_input" type="search" placeholder="Search" aria-label="Search Field" aria-describedby="button-addon2">
               -->
          </div> 
      </form>
  </div>

  <!-- data-toggle="modal" data-target="#LoginModal" (click)="open()" -->
 
  <div class="col-lg-4 collapse navbar-collapse text-center" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
          <ul class="navbar-nav">
              
                <li ngbDropdown  class="nav-item dropdown" >
                  <a ngbDropdownToggle class="nav-link dropdown-toggle"   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Account
                  </a>
                  <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/login"  >Login</a>
                    <a class="dropdown-item" routerLink="/signup">Sign Up</a>
  
                  </div>
                </li>

                <li ngbDropdown  class="nav-item dropdown" >
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     More
                    </a>
                    <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" routerLink="/contactus">Contact Us</a>
                      <a class="dropdown-item" routerLink="/about">About Us</a>
                      <a class="dropdown-item" href="/advertise">Advertise</a>
                      <a class="dropdown-item" href="/support">Customer Support</a>
    
                    </div>
                  </li>
            <li class="nav-item ml-sm-4">
                <a class="nav-link" routerLink="/home"><i class="fa fa-shopping-cart"></i>Cart</a>
            </li>
          </ul>
</div>
<!-- </div> -->
<!-- <a class="navbar-brand ml-sm-5" href="#">BUY iT</a> -->
</div>
</nav>

<!-- LOgin MOdal -->

<!-- Category BAR -->
<div class="navbar1">
  <a routerLink="/home">Home</a>
  <a routerLink="/home">What's New</a>
  <!-- Clothing -->
  <div class="dropdown1">
    <button class="dropbtn">Clothing 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content1">
      <div class="container-fluid">
        <div class="row header">
          <div class="col">
            <a class="category" target="_blank" routerLink="/products" [queryParams]="{category : 'clothing'}"><h2>Clothing </h2></a>
          </div>
        </div>
      
      <div class="row last_row">
        <div class="col-sm-4 links">
          <h3>Mens</h3>
          <a target="_blank" routerLink="/products" [queryParams]="{category : 'clothingm'}">Tshirt</a>
          <a target="_blank" routerLink="/products" [queryParams]="{category : 'clothingm'}">Jackets</a>
          <a target="_blank" routerLink="/products" [queryParams]="{category : 'clothingm'}">Trouser</a>
          <!-- <img src="assets/img/male.jpg" alt="img cloth" class="img-fluid"> -->
        </div>
        <div class="col-sm-4 links">
            <h3>Women</h3>
            <a target="_blank" routerLink="/products" [queryParams]="{category : 'clothingf'}">Tshirt</a>
            <a target="_blank" routerLink="/products" [queryParams]="{category : 'clothingf'}">Jackets</a>
            <a target="_blank" routerLink="/products" [queryParams]="{category : 'clothingf'}">Trouser</a>
            <!-- <img src="assets/img/female.jpg" alt="img cloth" class="img-fluid"> -->

        </div>
        <div class="col-sm-4 links">
            <img src="assets/img/cloth1.jpg" alt="img cloth" class="img-fluid">
          </div>
      </div>
    </div> 
    </div>
  </div> 
<!-- Electronics -->
  <div class="dropdown1">
      <button class="dropbtn">Electronics 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content1">
        <div class="container-fluid">
          <div class="row header">
            <div class="col">
              <a class="category" target="_blank" routerLink="/products" [queryParams]="{category : 'electronics'}"><h2>Electronics </h2></a>
            </div>
          </div>
        
        <div class="row last_row">
          <div class="col-sm-4 links">
              <h3>Mobiles</h3>
              <a href="#">Apple</a>
              <a href="#">Samsung</a>
              <a href="#">Mi</a>
              <a href="#">Honor</a>
          </div>
          <div class="col-sm-4 links">
              <h3>Mobile Accessories</h3>
              <a href="#">Mobile Cases</a>
              <a href="#">Power Banks</a>
              <a href="#">Memory Cards</a>
              <a href="#"> Screenguards</a>
              
          </div>
          <div class="col-sm-4 links">
              <h3>Computer Accessories</h3>
              <a href="#">External Hard Disks</a>
              <a href="#">Mouse</a>
               <a href="#">Laptop Bags</a>
              <a href="#">Pendrives</a>
            </div>
            <div class="col-sm-4 links">
                <img src="assets/img/elect.png" alt="img cloth" class="img-fluid">
              </div>
              <div class="col-sm-4 links">
                  <img src="assets/img/acc1.jpeg" alt="img cloth" class="img-fluid">
                </div>
                <div class="col-sm-4 links">
                    <img src="assets/img/pc.jpeg" alt="img cloth" class="img-fluid">
                  </div>
        </div>
      </div> 
      </div>
    </div> 
  <!-- Home & furniture -->
  <div class="dropdown1">
        <button class="dropbtn">Home & Furniture 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content1">
          <div class="container-fluid">
            <div class="row header">
              <div class="col">
                <a class="category" target="_blank" routerLink="/products" [queryParams]="{category : 'furniture'}"><h2>Home & Furniture </h2></a>

              </div>
            </div>
          
          <div class="row last_row">
            <div class="col-sm-4 links">
                <h3>Furniture</h3>
                <a href="#">Bedsheets</a>
                <a href="#"> Curtains</a>
                <a href="#">Cushion & Pillow Covers</a>
                <a href="#">Kitchen & Dining Linen</a>
            </div>
            <div class="col-sm-4 links">
                <h3>Home Decor</h3>
                <a href="#">Paintings</a>
                <a href="#"> Clocks</a>
                <a href="#">Wall Shelves</a>
                <a href="#">  Wall Decals</a>
            </div>
            <div class="col-sm-4 links">
                <h3>Kitchen & Dining</h3>
                      <a href="#">Pots & Pans</a>
                      <a href="#">Pressure Cookers</a>
                       <a href="#">Kitchen Tools</a>
                      <a href="#">Gas Stoves</a>
              </div>
              <div class="col-sm-4 links">
                  <img src="assets/img/sofa.jpeg" alt="img cloth" class="img-fluid">
                </div>
                <div class="col-sm-4 links">
                    <img src="assets/img/home.jpeg" alt="img cloth" class="img-fluid">
                  </div>
                  <div class="col-sm-4 links">
                      <img src="assets/img/kichan.jpeg" alt="img cloth" class="img-fluid">
                    </div>
          </div>
        </div> 
        </div>
    </div> 
  <!-- TV and Appliances -->
  <div class="dropdown1">
        <button class="dropbtn">TV & Appliances 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content1">
          <div class="container-fluid">
            <div class="row header">
              <div class="col">
                <a class="category" target="_blank" routerLink="/products" [queryParams]="{category : 'tvappliances'}"><h2>TV & Appliances </h2></a>

              </div>
            </div>
          
          <div class="row last_row">
            <div class="col-sm-4 links">
                <h3>TV</h3>
                <a href="#">MI</a>
                  <a href="#">sony</a>
                   <a href="#">LG</a>
                  <a href="#">Samsung</a>
            </div>
            <div class="col-sm-4 links">
                <h3>Washing Machine</h3>
                <a href="#">Fully Automatic Front Load</a>
                <a href="#"> Semi Automatic Top Load</a>
                <a href="#">Fully Automatic Top Load</a>
                <a href="#"> Brands:-LG,IFB,Midea</a>
                
            </div>
            <div class="col-sm-4 links">
                <h3>Kitchen Appliances </h3>
                      <a href="#">Microwave Ovens </a>
                      <a href="#">Chimneys</a>
                       <a href="#">Wet Grinders</a>
                      <a href="#">Induction Cooktops</a>
              </div>
              <div class="col-sm-4 links">
                  <img src="assets/img/TV1.jpeg" alt="img cloth" class="img-fluid">
                </div>
                <div class="col-sm-4 links">
                    <img src="assets/img/washing.jpeg" alt="img cloth" class="img-fluid">
                  </div>
                  <div class="col-sm-4 links">
                      <img src="assets/img/kichan1.jpeg" alt="img cloth" class="img-fluid">
                    </div>
          </div>
        </div> 
        </div>
    </div>   
  <!-- Sports -->
  <div class="dropdown1">
        <button class="dropbtn">Sports 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content1">
          <div class="container-fluid">
            <div class="row header">
              <div class="col">
                <a class="category" target="_blank" routerLink="/products" [queryParams]="{category : 'sports'}"><h2>Sports </h2></a>
              </div>
            </div>
          
          <div class="row last_row">
            <div class="col-sm-4 links">
                <h3>Cricket</h3>
                <a href="#">Bat</a>
                <a href="#"> Ball</a>
                <a href="#">wickets</a>
                <a href="#">Cricket kit bag</a>
            </div>
            <div class="col-sm-4 links">
                <h3>Football</h3>
                <a href="#">Ball</a>
                <a href="#"> Goalkeeping Gloves</a>
                <a href="#">Shoes</a>
                <a href="#"> Coaching Clipboards</a>
                
            </div>
            <div class="col-sm-4 links">
                <h3>Swimming</h3>
                      <a href="#">Swimming Goggles</a>
                      <a href="#">Diving Gloves</a>
                       <a href="#">Ear plug</a>
                      <a href="#">Swimming cap</a>
              </div>
              <div class="col-sm-4 links">
                  <img src="assets/img/kit.jpeg" alt="img cloth" class="img-fluid">
                </div>
                <div class="col-sm-4 links">
                    <img src="assets/img/fkit.jpeg" alt="img cloth" class="img-fluid">
                  </div>
                  <div class="col-sm-4 links">
                      <img src="assets/img/skit.jpeg" alt="img cloth" class="img-fluid">
                    </div>
          </div>
        </div> 
        </div>
    </div>
  
  <a routerlink="/offer" style="cursor:pointer;">Offer Zone</a>

</div>


