.navbar-light{
    background: #00e6e6 ;
    
    /* background: linear-gradient(to right, #ffffcc 0%, #66ffff 100%);     */
}
.search_input{
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
    /* border-bottom: 2px solid black;  */
}
.navbar1 {
    overflow: hidden;
    background-color: #333;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.navbar1 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown1 {
    float: left;
    overflow: hidden;
}

.dropdown1 .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}


.navbar1 a:hover, .dropdown1:hover .dropbtn {
    background-color:#5489bb;
    color: #000;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 90%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.dropdown-content1 .header {
    background: linear-gradient(#6794be,#fff);
    padding: 1%;;
    color: black;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

/* Create three equal columns that floats next to each other */
.category h2{
    text-decoration:none;
    color: #000;
}
a.category:hover{
    background-color:#ddd;


}
.links a {
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}	

.links a:hover {
    background-color: #ddd;
    /* color: #00e6e6; */
}
.last_row{
    padding-top:2%; 
}

/* Clear floats after the columns */
.last_row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}
.small_num{
    font-size: 1rem;
    color: rgb(107, 102, 102);
}
.header_content{
    color: #333;
}
.internal_contents{
    color: #7e7f80;
}
.border{
    border: 1px solid #000;
    padding: 2%;
    margin: 2%;
}

.dropdown-toggle{
    cursor: pointer;
}