<go-navbar></go-navbar>


<div class="container-fluid back_img" >
    <div class="container"> 
        <h1 class="display-2">Something About Us:</h1>
        <h3>Who We Are?</h3>
      <div class="container pb-5 ">
          <div class="row">
              <div class="col-sm-6">
                  <div class="card" style="width:400px">
                      <img class="card-img-top img-responsive" style="width:100%"  src="assets/img/hiren.jpeg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Hiren D</h5>
                        <p class="card-text">Web Developer</p>
                        <p class="lead">hp17046@gmail.com</p>
                        <p></p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
              </div>
              <div class="col-sm-6 pb-5">
                  <div class="card" style="width:400px">
                      <img class="card-img-top img-responsive img-fluid" src="assets/img/Profile_maharshi.jpg" height="400px" width="300px" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Maharshi D</h5>
                        <p class="card-text">Web Developer</p>
                        <p class="lead">davemaharshi7@gmail.com</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 4 mins ago</small>
                      </div>
                    </div>
              </div>                
          </div>
      </div>

</div>
</div>
<go-footer></go-footer>
