
<go-navbar></go-navbar>
<div class="container mt-5">
  

<div class="row">
  <!-- <div class="col-3">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Clothing</a>
      <a href="#" class="list-group-item list-group-item-action">Electronics</a>
      <a href="#" class="list-group-item list-group-item-action">Home & Furniture</a>
      <a href="#" class="list-group-item list-group-item-action">Sports</a>
      <a href="#" class="list-group-item list-group-item-action">GOSHOP Custom</a>
    </div>
  </div> -->

  <div class="col">
    <h3>Our Products</h3>
    <p>
      <input (keyup)="filterQ(query.value)" #query
      type="text" class="form-control" placeholder="Search...">
    </p>
    <div class="row">
      <ng-container *ngFor="let p of filterd;let i = index">
        <div class="col-sm-4">
          <div class="card" style="width:270px  ">
           <a routerLink="/product/{{p.id}}"><img class="card-img-top" [src]="p.imageurl[0]" class="img-thumbnail img-responsive"  alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/product/{{p.id}}">{{ p.name }}</a></h5>
              <p class="card-text">{{ p.price | currency:'INR':true }} 
                  <span *ngIf="p.stock>0" class="badge badge-success">In Stock</span>
                  <span *ngIf="p.stock==0" class="badge badge-danger">Out of Stock</span>
    
              </p>
              <a href="/product/{{p.id}}" class="btn btn-success" [class.disabled]="p.stock==0">Add To Cart</a>
            </div>
          </div>
        </div>
        <div *ngIf="(i+1)%3===0" class="w-100" ><br></div>
      </ng-container>
      <div *ngIf="filterd.length == 0">
        <p>Sorry, NO PRODUCTS FOUND!!</p>
      </div>
    </div>
  </div>
</div>
</div>

<go-footer></go-footer>