<go-navbar></go-navbar>
<div class="wrapper container-fluid">
  <form class="form-signin">       
    <h2 class="form-signin-heading">Create an Account</h2>
    <input type="text" class="form-control" name="name" placeholder="Name" required="" autofocus="" />
    <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>  
    <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password" required=""/>      

    <label class="checkbox">
      <input type="checkbox" value="Agree T&C's" id="T&C" name="terms"> By Signing up you agree to the Terms & Conditions.
    </label>
    <button class="btn btn-lg btn-success btn-block" type="submit">Sign Up</button>  
    <hr>
  <p>Already have Account,<a routerLink="/login">Sign In</a></p> 

  </form>
  
</div>