*{box-sizing: border-box;}
body{ margin: 0;
 font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
	overflow-x: hidden;
}

.small{
	font-size: 5px;
}
.video-header{
	height: 100vh;
    display: flex;
	align-items: center;
	color: #fff;
	/* scroll-snap-align:start; */
	
}
#startpage{
	margin-top: 0px;
}
.wrap{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin:auto;
	text-align: center;
	margin-bottom: 0px!important;
	
}
.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	
}
.fullscreen-video-wrap video{
	min-height: 100%;
	min-width: 100%;
	
}

.header-overlay{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(34,33,33,0.65);
	opacity: 0.80;
	
}

.header-content{
	z-index: 2;
	margin-top:20%;
	padding: 0 5rem;
	
}

.header-content h1{
	font-size: 50px;
	margin-bottom: 0;
	
}
.header-content p{
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
	margin-top: 10px;
}

.my-btn{
	padding: 1rem 1rem;
}

@media(max-width:768px){
	.header-content h1{font-size: 40px;}
	.header-content p{font-size: 1rem;}
}
