   <!-- Full Screen Video  -->
   <div class="video-header wrap">
    <div class="fullscreen-video-wrap">
      <video src="assets/video/Sequence 01.mp4" autoplay loop></video>
    </div>
    <div class="header-overlay">
      <div class="header-content">
          <img src="assets/img/theshop_head.png" width="200" height="80" class="d-inline-block align-top img-fluid" alt="GoSHOP"> 
        <!-- <p class="mt-0 small"> Enrich your life.</p> -->
        <p class="pt-2">Welcomes You<br></p>
        <a class="btn btn-secondary my-btn mt-3" href="/home">Start Shoping Now</a>
      </div>
    </div>
  </div>  
