<go-navbar></go-navbar>


<div class="container-fluid back_img">
  <div class="container">
      <h1 class="display-2">Contact Us:</h1>
      <h3 class="lead">For all inquires emails are the best form of contact. 
          In-store associates do not have access to online orders or inquiries.</h3>
      
      <div class="container">
        <form>
          <div class="container m-2 p-3  pb-5">
              <div class="form-group">
                  <label for="exampleInputEmail1">Email address:</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Name:</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Subject:</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="subject of inquiry">
                  </div>
                
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Comments:</label>
                  <p class="lead">We'd love to hear from you -If you’re inquiring about an order please include your order number.</p>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comments"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-lg">Submit</button>  
          </div>
        </form> 
      </div>
  </div>
  
</div>
<go-footer></go-footer>
