.jumbo_color{
    background: linear-gradient(#ddfcfc,#ccffff);

}
.back{
    background:  #122337  ;
    background: linear-gradient(#ccffff,#004d4d);

}


.ad_cover{
   background:  #ccffff  ;

}
.img_container{
    width: 100%;
    height: 700px;
}
.ad_cover_buttons{
    background: url('/assets/img/new/Summersal_custom.jpg') no-repeat center;
    background-size: cover;
  height: 100% !important;
  max-width: 100%;
  position: relative;
}

.back_modal{
   background:  #afb1b3 ;
}
.navbar-light{
   background: #00e6e6 ;
   
   /* background: linear-gradient(to right, #ffffcc 0%, #66ffff 100%);     */
}
.card-text{
    color: rgb(57, 61, 61)
}

.overlay{
    position: relative;
    top: 60%;
    /* left: 8%; */
    overflow-x: hidden;
}
.mensbutton{
    position: relative;
    left: 28%;
    
}
.womensbutton{
    position: relative;
    left: 41%;
    top:10%;
    
}
.accsbutton{
    position: relative;
    left: 57%;
    
}
@media only screen and (max-width: 600px) {
    .mensbutton{
        position: relative;
        left: 5%;
        
    }
    .womensbutton{
        position: relative;
        left: 5%;
        
    }
    .accsbutton{
        position: relative;
        left: 5%;
        
    }
}

/* SMARTPHONES PORTRAIT */

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
    .overlay{
        position: relative;
        top: 30%;
        /* left: 8%; */
        overflow-x: hidden;
    }
    .img_container{
        width: 100%;
        height: 250px;
    }

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
    .overlay{
        position: relative;
        top: 60%;
        /* left: 8%; */
        overflow-x: hidden;
    }
    .img_container{
        width: 100%;
        height: 400px;
    }

}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
    .overlay{
        position: relative;
        top: 60%;
        /* left: 8%; */
        overflow-x: hidden;
    }
    .img_container{
        width: 100%;
        height: 550px;
    }

} 
@media only screen and (min-width: 1450px) {
    .overlay{
        position: relative;
        top: 60%;
        /* left: 8%; */
        overflow-x: hidden;
    }
    .img_container{
        width: 100%;
        height: 1000px;
    }
}

