<go-navbar></go-navbar>

<!-- carousel  -->
<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/img/new/Gift-Set-Overview.jpg" class="img-fluid" alt="Random first slide">
    <!-- <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div> -->
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/new/PV_Header.jpg" alt="Random second slide" class="img-fluid">
    <!-- <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div> -->
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/new/hero-3-bg_new.jpg" alt="Random third slide" class="img-fluid">
    <!-- <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div> -->
  </ng-template>
</ngb-carousel>


<!-- Jumbotron with some extra imformation -->
<div class="jumbotron jumbotron-fluid jumbo_color mb-0">
  <div class="container">
    <h1 class="display-5">Shoping with <img src="assets/img/go_shop.png" width="100" height="40" class="d-inline-block align-top" alt="GoSHOP"> </h1>
    <p class="lead">Gives you Added Benifits Like:</p>
    <hr class="my-2">
    <ul>
    <h5><i class="fa fa-check"></i> Free Cash on Delivery</h5>
    <h5><i class="fa fa-check"></i> Free Shiping</h5>
    <h5><i class="fa fa-check"></i> Only Genuine Products</h5>
    <h5><i class="fa fa-check"></i> 100% Customer Satisfaction</h5>
    <h5><i class="fa fa-check"></i> 24/7 Customer Support</h5>

    
    </ul>
    <p>
      <a class="btn btn-dark btn-lg" routerLink="/products" role="button">View All Products</a>
    </p>
  </div>
</div>

<!-- Advertise Bannner -->
<div class="container-fluid ad_cover">

  <div class="container">
  <img src="assets/img/ad22.jpg" alt="Advertise" class="img-thumbnail" >
  <!-- <img src="/img/ad33.jpg" alt="Advertise" class="img-thumbnail" > -->
</div>
</div>

<!-- Product showcase -->
<div class="container-fluid ad_cover">

<div class="container">
  <div class="row">
    <div class="col-sm-6 p-5 ">
      <h1>Crafted By hand in India.</h1><br>
      <p class="lead">Our Products are made by expert craftsmen.Each Product is carefully handmade in our Workshop.</p>
    </div>
    <div class="col-sm-6">
      <img src="assets/img/new/apple_cover1.png" class="img-fluid" alt="Customised Cover" height="500px" width="400px">
    </div>
  
  </div>
</div>
</div>

<!-- Advertise Banner-2 -->
<div class="container-fluid ad_cover p-3 ">

  <div class="row">
    <div class="col-sm-8">
      <img src="assets/img/new/handmade.jpg" alt="Advertise" class="img-fluid" >
    </div>
    <div class="col-sm-3 ">
        <br>
        <h2>Handcrafted for you</h2>
        <p>Every cover in handmade to order in our workshop.So when you place you place your order we get to work.</p>
    </div>
  <!-- <img src="assets/img/handmade.jpg" alt="Advertise" class="img-thumbnail" > -->
  <!-- <img src="/img/ad33.jpg" alt="Advertise" class="img-thumbnail" > -->
</div>
</div>

<!-- Special buttons over Image -->
<div class="container-fluid ad_cover  pt-2 img_container">
  <div class=" ad_cover_buttons ">
      <div class="container overlay">
      <div class="mensbutton">
          <a class="category" target="_blank" routerLink="/products" [queryParams]="{category : 'clothingm'}">
        <button class="btn btn-dark btn-lg img_btn">SHOP MEN's</button>
            </a>
      </div>  
      <div class="womensbutton">
          <a class="category" target="_blank" routerLink="/products" [queryParams]="{category : 'accessories'}">        
            <button class="btn btn-dark btn-lg img_btn">SHOP Accesories</button>
          </a>
      </div>  
      <div class="accsbutton">
        <a class="category" target="_blank" routerLink="/products" [queryParams]="{category : 'clothingf'}">
            <button class="btn btn-dark btn-lg img_btn">SHOP Women's</button>
        </a>
      </div>  
  </div>
</div>
</div>

<!-- Products started -->
<div class="container-fluid back">

  <div class="container py-5">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="card m-auto" >
            <a routerLink="/product/12">
          <img class="card-img-top" src="assets/img/laptop-1.jpg"  alt="Card image cap" class="img-thumbnail" height="250px" >
          </a>
          <div class="card-body">
            <h5 class="card-title"><a routerLink="/product/12">Hp Au-111-tx</a></h5>
            <p class="card-text ">Its integrated with most powerfull Cpu and Hardware.</p>
            <a routerLink="/product/12" class="btn btn-success">Buy Now</a>
          </div>
        </div>
      </div>
    
    <div class="col-sm-4">
      <div class="card m-auto" >
          <a routerLink="/product/11">
          <img class="card-img-top" src="assets/img/apple2.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
          </a>
          <div class="card-body" >
              <h5 class="card-title"><a routerLink="/product/12">Apple Watch Series 3 GPS </a></h5>
            <p class="card-text ">42 mm Space Grey Aluminium Case with Grey Sport Band  (Grey Strap Regular)</p>
            <a routerLink="/product/11" class="btn btn-success">Buy Now</a>
          </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card m-auto" >
            <a routerLink="/product/10">
              <img class="card-img-top" src="assets/img/tvproduct.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
            </a>
            <div class="card-body" >
              <h5 class="card-title">
                <a routerLink="/product/12">
                4K UHD TV </a>
              </h5>
              <p class="card-text ">SONY BRAVIA 55 inches Black color</p>
              <a routerLink="/product/10" class="btn btn-success">Buy Now</a>
            </div>
        </div>
      </div>
  </div>
  </div>
  <div class="container-fluid p-2">
    <div class="row">
    <div class="col-sm-4">&nbsp;</div>
    <div class="col-sm-4">
        <a routerLink="/products"><button class="btn btn-dark btn-lg p-2 m-2" >View All Products</button></a>
    </div>
    <div class="col-sm-4">&nbsp;</div>
  </div>
  </div>
</div>


<go-footer></go-footer>

